# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint
from colorama import Fore
from colorama import Style
import datetime
x = datetime.datetime.now()


# Automatically set Data Frames to 2 decimal places
pd.options.display.precision = 2

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# print(x.strftime("%d""/""%m""/""%Y"))

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
# File to Load 
vacation = "../output_data/humidity_drop.csv"

# Read file and store into Pandas data frame
vacation_df = pd.read_csv(vacation)
vacation_df

,City,Temperature (f),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Al Bardīyah,81.77,31.76,25.09,53,0,13.53
1,Walla Walla,57.36,46.06,-118.34,44,1,11.41
2,Kalmunai,91.42,7.42,81.82,56,100,9.51
3,Goderich,62.44,43.75,-81.72,74,0,3.15
4,Ushuaia,30.20,-54.80,-68.30,86,40,6.93
...,...,...,...,...,...,...,...
549,Fare,79.81,-16.70,-151.02,78,86,4.63
550,Champerico,76.60,14.30,-91.92,82,100,7.20
551,Tongling,78.31,30.95,117.78,82,95,8.97
552,Kisaran,88.88,2.98,99.62,58,100,5.37
553,Zharkent,93.00,44.16,80.00,13,49,7.67

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
vacation_df.columns

Index(['City', 'Temperature (f)', 'Latitude', 'Longitude', 'Humidity (%)',
       'Cloudiness (%)', 'Wind Speed (mph)'],
      dtype='object')

In [9]:
# Store latitude and longitude in locations
locations = vacation_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float for Humidity
humidity = vacation_df["Humidity (%)"].astype(float)

In [11]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating =False, max_intensity=10, point_radius=1)

# Add heat layer to figure
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
# View statistics of the data frame to view what conditions we have available, then select my ideal weather conditions
vacation_df.describe()

,Temperature (f),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
count,554.00,554.00,554.00,554.00,554.00,554.00
mean,69.45,20.22,20.64,67.68,48.71,7.95
std,15.67,32.92,90.05,21.02,40.03,4.98
min,30.20,-54.80,-179.17,8.00,0.00,0.18
25%,57.52,-5.73,-59.33,57.00,3.00,4.70
50%,70.74,23.02,25.54,73.00,41.00,6.93
75%,81.16,47.91,102.06,83.00,90.00,10.29
max,105.80,78.22,179.32,97.00,100.00,34.63

In [39]:
# Ideal weather conditions are:
# Temperature not less than 86(f) but no more than 104(f)
# Wind speed less than 6(mph)
# Cloudiness less than 5%

# Filter the data frame and create a new one showing only the parameters listed above
ideal_weather = vacation_df.loc[(vacation_df["Temperature (f)"]>86)&(vacation_df["Temperature (f)"]<104)
                                &(vacation_df["Wind Speed (mph)"]<6)
                                &(vacation_df["Cloudiness (%)"]<5)]

# View statistics of the new data frame to ensure we have a new data frame with only the ideal selected weather conditions captured
ideal_weather.describe()

,Temperature (f),Latitude,Longitude,Humidity (%),Cloudiness (%),Wind Speed (mph)
count,5.00,5.00,5.00,5.00,5.0,5.00
mean,99.54,23.11,51.10,27.20,0.8,4.15
std,4.30,1.28,41.97,13.86,1.3,1.08
min,94.68,21.94,-3.98,9.00,0.0,2.24
25%,95.00,22.68,32.55,23.00,0.0,4.38
50%,102.22,22.69,57.53,25.00,0.0,4.50
75%,102.83,22.93,58.53,32.00,1.0,4.76
max,102.97,25.29,110.85,47.00,3.0,4.85

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure